/*______  _______  _______  ______    _______  __   __  _______  _______  ______   
|       ||       ||   _   ||    _ |  |       ||  | |  ||  _    ||   _   ||    _ |  
|  _____||    ___||  |_|  ||   | ||  |       ||  |_|  || |_|   ||  |_|  ||   | ||  
| |_____ |   |___ |       ||   |_||_ |       ||       ||       ||       ||   |_||_ 
|_____  ||    ___||       ||    __  ||      _||       ||  _   | |       ||    __  |
 _____| ||   |___ |   _   ||   |  | ||     |_ |   _   || |_|   ||   _   ||   |  | |
|_______||_______||__| |__||___|  |_||_______||__| |__||_______||__| |__||___|  |_|
*/
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

.search-bar {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: rgba(256,256,256,.90);
    width: 100%;
    max-width: 1080px;
    min-width: 666px;
    z-index: 10000;
}
.search-bar > div {
    display: flex;
}
.search-bar > div > *:not(h1) {
    margin: 0 2rem;
    cursor: pointer;
}
.search-bar > div h1 {
    font-size: 4rem;
    border-left: 2px solid #666;
    padding: 0 2rem;
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
}
.search-bar > div > div {
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
}
.search-bar .search {
    width: 33%;
    height: 4rem;
    min-width: 200px;
    border: 2px solid rgba(0,0,0,.42);
    border-radius: 0.5rem;
    position: relative;
}
.search-bar .search .placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}
.search-bar .search .placeholder figure,
.search-bar .search .placeholder .text {
    position: relative;
    margin: 0 3px;
}
.search-bar .search.active .placeholder {
    position: relative;
    width: fit-content;
    height: 100%;
}
.search-bar .search.active figure {
    transform: translate(5px, 0);
}
.search-bar .search.active input {
    text-align: left;
}
.search-bar .search figure {
    height: 13px;
    width: 13px;
    transform: translateY(-2px);
}
.search-bar div input {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 2rem;
}