/*_    _____ _____ _____ 
|  |  |     |   __|     |
|  |__|  |  |  |  |  |  |
|_____|_____|_____|_____|
*/
.insta-logo {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 18.5%;
  background: transparent;
}
.insta-logo:before, .insta-logo:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  border: solid 2.5px #000;
  transform: translate(-50%, -50%);
  content: '';
}
.insta-logo:before {
  border-radius: 18.5%;
}
.insta-logo:after {
  width: 15.625px;
  height: 15.625px;
  border-radius: 50%;
  box-shadow: 10.15625px -10.15625px 0 -8.125px #000;
}                             
/*____ _____ _____ _____ _____ 
|  |  |   __|  _  | __  |_   _|
|     |   __|     |    -| | |  
|__|__|_____|__|__|__|__| |_|  
*/
.insta-heart {
    height: 66%;
    width: 66%;
    transform: translate(25%, 33%) rotate(-45deg);
    border: .1em solid black;
    border-width: 0 0 .1em .1em;
    border-radius: 15%;
    position: relative;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}
/* .insta-heart:hover,
.insta-heart:hover::after,
.insta-heart:hover::before {
    background-color: red;
} */
.insta-heart::before, .insta-heart::after {
    content: "";
    border-radius: 50%;
    height: 83.33%;
    width: 83.33%;
    position: absolute;
    transition: background-color 200ms ease-in-out;
    left: 0;
    top: 0;
}
.insta-heart::before {
    transform: rotate(45deg)  translate(-30%,-25%);
    border: .1em solid black;
    border-width: .1em 0px 0px .1em;
}
.insta-heart::after {
    transform: rotate(45deg) translate(48%,-25%);
    border: .1em solid black;
    border-width: .1em .1em 0 0;
}
/*____ __ __ _____ __    _____ _____ _____ 
|   __|  |  |  _  |  |  |     | __  |   __|
|   __|-   -|   __|  |__|  |  |    -|   __|
|_____|__|__|__|  |_____|_____|__|__|_____|
*/
.insta-explore {
    height: 100%;
    width: 100%;
    border: 2px solid #000;   
    border-radius: 50%;
    position: relative;
}
.insta-explore::after {
    content: "";
    height: 50%;
    width: 15%;
    border: 2px solid black;
    position: absolute;
    transform: translate(100%, 33%) rotate(45deg);
    left: 0;
    top: 0;
}
/*____ _____ _____ _____ _____ _____ _____ 
|  _  |     |     |     |  |  |   | |_   _|
|     |   --|   --|  |  |  |  | | | | | |  
|__|__|_____|_____|_____|_____|_|___| |_|
*/
.insta-account {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.insta-account::before {
    content: "";
    height: 50%;
    width: 90%;
    border: 2px solid black;
    border-radius: 30%;
    position: absolute;
    transform: translate(-50%,100%)
}
.insta-account::after {
    content: "";
    height: 42%;
    width: 42%;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,0)
}
/*____ _____ _____ _____ _____ _____ __ __ 
|     |  _  |   __|   | |     |   __|  |  |
| | | |     |  |  | | | |-   -|   __|_   _|
|_|_|_|__|__|_____|_|___|_____|__|    |_|  
*/
.insta-magnify {
    border: 2px solid #666;
    border-radius: 50%;
    position: absolute;
}
.insta-magnify::after {
    content: "";
    height: 75%;
    width: 25%;
    background-color: #666;
    position: absolute;
    transform: translate(200%,100%) rotate(-45deg);
}